@import "bootstrap/variables.less";
@import "bootstrap/mixins.less";
@import "bootstrap/normalize.less";
@import "bootstrap/buttons.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/list-group.less";

.noselect(){
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

html,body{
  font-size:12pt;
  min-height:100%;
  background-color:#0d0b0c; 
}
@sidebar-width:20rem;
@sidebar-peek:2rem;
#sidebar{
  display:inline-block;
  position:fixed;
  top:0;
  left:(0 - @sidebar-width + @sidebar-peek);
  bottom:0;
  width:@sidebar-width;
  height:100vh;
  background-color:#1d191a;
  color:#6f6669;
  
  transition:left 1s;
  
  .noselect;
  
  &:hover{
    left:0;
  }
  
  .ctrls{
    margin-top:3rem;
  }
  .filterCtrls{
    .filters{
      border-radius:5px;
      border:solid 1px #151213;
      height:30rem;
      margin-left:1rem;
      margin-right:1rem;
      &:hover{
        background-color:inherit;
      }
    }
  }
  .tree{
    &+.sub{
      overflow:hidden;
      &:hover{
        background-color:inherit;
      }
      padding:0;
      border:none;
      li{
        padding-left:4rem;
      }
    }
  }
  .tree:not(.expand){
    &:before{
      content:'▼';
      transform:rotate(-90deg);
      -webkit-transform:rotate(-90deg);
      display:inline-block;
    }
    &+.sub{
     
      height:0;
    }
  }
  .tree.expand{
    &:before{
      content:'▼';
      display:inline-block;
    }
  }
  li{
    padding-left:2rem;
    border-top:solid 1px #1f1c1c;
    border-bottom:solid 1px #1c1819;
    &:hover{
      background-color:#121010;
    }
    margin-left:0;
    padding-top:0.25rem;
    padding-bottom:0.25rem;
    cursor:pointer;
  }
  
}
ul{
  list-style-type:none;
  list-style:none;
  margin:0;
  padding:0;
}
.panel{
  height:15rem;
}
#dash{
  padding-left:@sidebar-peek;
}