mixin script(url)
  - if(!url.match(/^https?:\/\//)) url="/resources/js/"+url //if the url is not absolute then it is considered local
  script(type="application/javascript", src=url)

mixin css(url,mediatype)
  - if(!url.match(/^https?:\/\//)) url="/resources/css/"+url //if the url is not absolute then it is considered local
  - mediatype=mediatype||'all'
  link(rel="stylesheet",media=mediatype,href=url)