include mixins/common
include mixins/ui

doctype html
html(lang="en" ng-app="main")
  head
    title Ingestion
    +css('main.css')
    +script('main.js')
  body(ng-controller="main")
    include sidebar
    #dash
      include ip


     // include feed
      