mixin panel(prefex,list)
  li.panel
    ul
      li(ng-repeat="type in "+list ng-dbclick=prefix+"Edit($index)")
        span.glyphicon.glyphicon-remove(ng-click=prefix+"Remove($index)")
        span(ng-bind="type.name")
#sidebar
  ul.ctrls
    li(ng-click="ToggleCapture()" 
       ng-class="{'disabled':State=='Disabled','active':State=='Capturing'}") Capture
    li(ng-click="ToggleLive()"
               ng-class="{'disabled':State!='Capturing','active':Live==true}") Live
    +uitree('Decoders')(class='decoderCtrls')
      li(ng-click="AddDecoder") Add Decoder
      +panel('Decoder','decoders')
    +uitree('Filters')(class='filterCtrls')
      li(ng-click="AddFilter") Add Filter
      li(ng-click="ClearFilters") Clear Filters
      +panel('Filter','filters')
     +uitree('Formatters')(class='formatterCtrls')
      li(ng-click="AddFormater()") Add Formatter
      li(ng-click="ClearFormaters()") Clear Formatters
      +panel('Formatter','formatters')
